@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

html {
  font-family: "Shippori Antique B1", sans-serif;
  color: #979797;
}

.blue-text {
  color: #00c7fc;
}

.red-text {
  color: #eb7256;
}

.green-text {
  color: #74d6ad;
}

.black-text {
  color: #646464;
}

.counts-grid {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 25px;
  margin-right: 50px;
}

.input-row,
.label-row,
.totals-row,
.form-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr) 2fr;
  align-items: center;
  width: 500px;
}

.label-row {
  align-items: flex-end;
}

.input-element,
.label-element {
  padding: 5px;
}

.input-element {
  border: 1px solid #ccc;
}

.input-element:not(:last-child) {
  border-right: none;
}

.button-container {
  grid-column-start: span 3;
}

.more-rows-button {
  padding: 5px 10px;
  margin: 5px 0px;
}

.input-row > input {
  width: 55px;
  height: 28px;
  border: 1px solid #ccc;
  border-right: none;
  text-align: center;
  font-size: 16px;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product-display {
  display: flex;
  flex-direction: row;
  margin-right: 100px;
}

.left-product-display > p {
  display: flex;
  justify-content: flex-start;
  margin: 5px 30px;
  margin-top: 25px;
}

.product-image {
  width: 200px;
}

.icons {
  display: flex;
  justify-content: center;
}

.icons > svg {
  color: white;
  background-color: #c7c7c7;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
}

.price {
  margin-top: 100px;
}

.pop-up {
  grid-column-start: span 3;
}

.edit-form {
  background-color: #888888;
  border-radius: 5px;
  color: #d3d3d3;
}

.edit-form p {
  padding: 10px 0px;
}

.edit-form p,
.edit-form label {
  text-align: start;
  margin-left: 15px;
}

.edit-form > form {
  display: flex;
  flex-direction: column;
}

.edit-form input,
.edit-form textarea {
  width: 80%;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  align-self: center;
}

.edit-form button {
  color: #888888;
  background-color: #cacaca;
  padding: 5px 10px;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: flex;
  align-self: flex-end;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #888888;
  margin-left: 80px;
}
