* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

html {
  font-family: sans-serif;
}

.blue-text {
  color: #00c7fc;
}

.red-text {
  color: #eb7256;
}

.green-text {
  color: #74d6ad;
}

.black-text {
  color: #646464;
}

.counts-grid {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 25px;
  margin-right: 50px;
}

.input-row,
.label-row,
.totals-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr) 2fr;
  align-items: center;
  width: 500px;
}

.input-element,
.label-element {
  padding: 5px;
}

.input-element {
  border: 1px solid #ccc;
}

.input-element:not(:last-child) {
  border-right: none;
}

.button-container {
  grid-column-start: span 3;
}

.more-rows-button {
  padding: 5px 10px;
  margin: 5px 0px;
}

input {
  width: 55px;
  height: 28px;
  border: 1px solid #ccc;
  border-right: none;
  text-align: center;
  font-size: 16px;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product-display {
  display: flex;
  flex-direction: row;
  margin-right: 100px;
}

.left-product-display > p {
  display: flex;
  justify-content: flex-start;
  margin: 5px 30px;
  margin-top: 25px;
}

.product-image {
  width: 200px;
}

.icons {
  display: flex;
  justify-content: center;
}

.icons > svg {
  color: white;
  background-color: #c7c7c7;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
}

.price {
  margin-top: 100px;
}
